@font-face {
    font-family: "DIN";
    src: url(../font/DIN.otf) format('opentype');
}

* {
    font-family: "DIN", sans-serif;
    background-color: #fff;
    color: black;
}

.rbottom {
    position: fixed;   
    right: 20px;      
    bottom: 20px;     
    padding: 10px;
    user-select: none;
    text-align: right;
}

.rbottom img {
    max-width: 120px;
    margin-bottom: -30px;
}
